node_modules
.tmp
.sass-cache
.DS_Store
.bash_history
*.swp
*.swo
*.d.ts
.idea

*.classpath
*.project
*.settings/
*.classpath
*.project
*.settings/

.vim/bundle
nvim/autoload
nvim/plugged
nvim/doc
nvim/swaps
nvim/colors
dist

/src/mini-testdrive/404.html
/src/mini-testdrive/CNAME
.angulardoc.json

# Coverage directory used by tools like istanbul
coverage
