node_modules
.tmp
.sass-cache
app/bower_components
.DS_Store
.bash_history
*.swp
*.swo

*.classpath
*.project
*.settings/
*.classpath
*.project
*.settings/

.vim/bundle
nvim/autoload
nvim/plugged
nvim/doc
nvim/swaps
nvim/colors

