name: Build and test angular-cli-ghpages

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x

      - name: Prepare and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd src
          npm install --silent
          npm run build
          npm run test
          cd dist
          npm link
          cd ..
          npm install -g @angular/cli@next
          ng new your-angular-project --defaults
          npm link angular-cli-ghpages
          ng add angular-cli-ghpages
          ng deploy
